body {
  border: 0;
  padding: 0;
  background-image: url(photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header {
  display: flex;
  animation-name: fantasma;
  animation-duration: 4s;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  text-shadow: 3px 3px 6px black;
}
.img_inicio {
  height: 70px;
  margin-right: auto;
}
.img_fin {
  height: 70px;
  margin-left: auto;
}
.encabezado {
  align-items: center;
}
main {
  height: auto;
}
div {
  text-align: center;
}
h1 {
  font-family: "Sofia", sans-serif;
  font-size: 26px;
  color: white;
  animation-name: fantasma;
  animation-duration: 4s;
}

.cuadro {
  border:0;
}
.datos {
  width: auto;
  margin-right: 10%;
}
#fecha,
#persona {
  font-family: "Permanent Marker", cursive;
  font-weight: 80px
  ;
  font-style: italic;
  text-shadow: 3px 3px 6px rgb(0, 89, 255);

  padding-top: 35%;

}
p {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 4px 4px 7px black;
}

@keyframes fantasma {
  from {
    background-color: transparent;
  }

  to {
    background-color: orange;
  }

  from {
    text-shadow: none;
  }

  to {
    text-shadow: 3px 3px 6px black;
  }
}
