body {
  border: 0;
  padding: 0;
}
header {
  display: flex;
  animation-name: fantasma;
  animation-duration: 4s;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  text-shadow: 3px 3px 6px black;
}
.img_inicio {
  height: 70px;
  margin-right: auto;
}
.img_fin {
  height: 70px;
  margin-left: auto;
}
.encabezado {
  align-items: center;
}
main {
  height:400px;
}
div {
  text-align: center;
}
h1 {
  font-family: "Sofia", sans-serif;
  font-size: 26px;
  color: white;
  animation-name: fantasma;
  animation-duration: 4s;
}
.desayuno {
  width: 65%;
}
.cuadro {
  background-image: url(photo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
}
.datos {
  width: auto;
  margin-right: 10%;
}
#fecha,
#persona {
  width: 150px;
  padding: 0;
  margin: 0;
}
p {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 3px 3px 6px black;
}

@keyframes fantasma {
  from {
    background-color: transparent;
  }

  to {
    background-color: orange;
  }

  from {
    text-shadow: none;
  }

  to {
    text-shadow: 3px 3px 6px black;
  }
}
